<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.club.mapper.ActivityMapper">
    <resultMap id="BaseResultMap" type="com.graduate.club.entity.Activity">
        <!--@mbg.generated-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="clubid" jdbcType="VARCHAR" property="clubid"/>
        <result column="introduction" jdbcType="LONGVARCHAR" property="introduction"/>
        <result column="founder" jdbcType="VARCHAR" property="founder"/>
        <result column="img" jdbcType="VARCHAR" property="img"/>
        <result column="scale_num" jdbcType="INTEGER" property="scaleNum"/>
        <result column="actual_num" jdbcType="INTEGER" property="actualNum"/>
        <result column="open_date" jdbcType="TIMESTAMP" property="openDate"/>
        <result column="close_date" jdbcType="TIMESTAMP" property="closeDate"/>
        <result column="approver" jdbcType="VARCHAR" property="approver"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, `status`, clubid, introduction, founder, img, scale_num, actual_num,
        open_date, close_date, approver, create_at, update_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_activity
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from t_activity
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.graduate.club.entity.Activity">
        <!--@mbg.generated-->
        insert into t_activity (id, `name`, `status`,
        clubid, introduction, founder,
        img, scale_num, actual_num,
        open_date, close_date, approver,
        create_at, update_at)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
        #{clubid,jdbcType=VARCHAR}, #{introduction,jdbcType=LONGVARCHAR}, #{founder,jdbcType=VARCHAR},
        #{img,jdbcType=VARCHAR}, #{scaleNum,jdbcType=INTEGER}, #{actualNum,jdbcType=INTEGER},
        #{openDate,jdbcType=TIMESTAMP}, #{closeDate,jdbcType=TIMESTAMP}, #{approver,jdbcType=VARCHAR},
        #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.graduate.club.entity.Activity">
        <!--@mbg.generated-->
        insert into t_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="clubid != null">
                clubid,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="founder != null">
                founder,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="scaleNum != null">
                scale_num,
            </if>
            <if test="actualNum != null">
                actual_num,
            </if>
            <if test="openDate != null">
                open_date,
            </if>
            <if test="closeDate != null">
                close_date,
            </if>
            <if test="approver != null">
                approver,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="clubid != null">
                #{clubid,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=LONGVARCHAR},
            </if>
            <if test="founder != null">
                #{founder,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                #{img,jdbcType=VARCHAR},
            </if>
            <if test="scaleNum != null">
                #{scaleNum,jdbcType=INTEGER},
            </if>
            <if test="actualNum != null">
                #{actualNum,jdbcType=INTEGER},
            </if>
            <if test="openDate != null">
                #{openDate,jdbcType=TIMESTAMP},
            </if>
            <if test="closeDate != null">
                #{closeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="approver != null">
                #{approver,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.graduate.club.entity.Activity">
        <!--@mbg.generated-->
        update t_activity
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="clubid != null">
                clubid = #{clubid,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=LONGVARCHAR},
            </if>
            <if test="founder != null">
                founder = #{founder,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
            <if test="scaleNum != null">
                scale_num = #{scaleNum,jdbcType=INTEGER},
            </if>
            <if test="actualNum != null">
                actual_num = #{actualNum,jdbcType=INTEGER},
            </if>
            <if test="openDate != null">
                open_date = #{openDate,jdbcType=TIMESTAMP},
            </if>
            <if test="closeDate != null">
                close_date = #{closeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="approver != null">
                approver = #{approver,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.graduate.club.entity.Activity">
        <!--@mbg.generated-->
        update t_activity
        set `name` = #{name,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=INTEGER},
        clubid = #{clubid,jdbcType=VARCHAR},
        introduction = #{introduction,jdbcType=LONGVARCHAR},
        founder = #{founder,jdbcType=VARCHAR},
        img = #{img,jdbcType=VARCHAR},
        scale_num = #{scaleNum,jdbcType=INTEGER},
        actual_num = #{actualNum,jdbcType=INTEGER},
        open_date = #{openDate,jdbcType=TIMESTAMP},
        close_date = #{closeDate,jdbcType=TIMESTAMP},
        approver = #{approver,jdbcType=VARCHAR},
        create_at = #{createAt,jdbcType=TIMESTAMP},
        update_at = #{updateAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_activity
    </select>
</mapper>