<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.club.mapper.ClubMapper">
    <resultMap id="BaseResultMap" type="com.graduate.club.entity.Club">
        <!--@mbg.generated-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="userid" jdbcType="VARCHAR" property="userid"/>
        <result column="principalid" jdbcType="VARCHAR" property="principalid"/>
        <result column="adminid" jdbcType="VARCHAR" property="adminid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="star" jdbcType="INTEGER" property="star"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
        <result column="scale_num" jdbcType="INTEGER" property="scaleNum"/>
        <result column="reason" jdbcType="LONGVARCHAR" property="reason"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, userid, principalid, adminid, `name`, `status`, `type`, star, sign, scale_num,
        reason, create_at, update_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_club
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from t_club
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.graduate.club.entity.Club">
        <!--@mbg.generated-->
        insert into t_club (id, userid, principalid,
        adminid, `name`, `status`,
        `type`, star, sign, scale_num,
        reason, create_at, update_at
        )
        values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{principalid,jdbcType=VARCHAR},
        #{adminid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
        #{type,jdbcType=INTEGER}, #{star,jdbcType=INTEGER}, #{sign,jdbcType=VARCHAR}, #{scaleNum,jdbcType=INTEGER},
        #{reason,jdbcType=LONGVARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.graduate.club.entity.Club">
        <!--@mbg.generated-->
        insert into t_club
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="principalid != null">
                principalid,
            </if>
            <if test="adminid != null">
                adminid,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="star != null">
                star,
            </if>
            <if test="sign != null">
                sign,
            </if>
            <if test="scaleNum != null">
                scale_num,
            </if>
            <if test="reason != null">
                reason,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=VARCHAR},
            </if>
            <if test="principalid != null">
                #{principalid,jdbcType=VARCHAR},
            </if>
            <if test="adminid != null">
                #{adminid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="star != null">
                #{star,jdbcType=INTEGER},
            </if>
            <if test="sign != null">
                #{sign,jdbcType=VARCHAR},
            </if>
            <if test="scaleNum != null">
                #{scaleNum,jdbcType=INTEGER},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=LONGVARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.graduate.club.entity.Club">
        <!--@mbg.generated-->
        update t_club
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=VARCHAR},
            </if>
            <if test="principalid != null">
                principalid = #{principalid,jdbcType=VARCHAR},
            </if>
            <if test="adminid != null">
                adminid = #{adminid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="star != null">
                star = #{star,jdbcType=INTEGER},
            </if>
            <if test="sign != null">
                sign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="scaleNum != null">
                scale_num = #{scaleNum,jdbcType=INTEGER},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=LONGVARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.graduate.club.entity.Club">
        <!--@mbg.generated-->
        update t_club
        set userid = #{userid,jdbcType=VARCHAR},
        principalid = #{principalid,jdbcType=VARCHAR},
        adminid = #{adminid,jdbcType=VARCHAR},
        `name` = #{name,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=INTEGER},
        `type` = #{type,jdbcType=INTEGER},
        star = #{star,jdbcType=INTEGER},
        sign = #{sign,jdbcType=VARCHAR},
        scale_num = #{scaleNum,jdbcType=INTEGER},
        reason = #{reason,jdbcType=LONGVARCHAR},
        create_at = #{createAt,jdbcType=TIMESTAMP},
        update_at = #{updateAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_club
    </select>
    <select id="selectByMap" resultType="map" parameterType="map">
        select t.id,a.name userName,c.name principalName,b.name adminName,t.`name`,
        t.`status`,t.`type`,t.star,t.sign,t.scale_num,t.reason,t.reason,t.create_at
        from t_club t
        join t_user_profile a on t.principalid = a.userid
        join t_admin b on t.adminid = b.id
        join t_user_profile c on t.userid = c.userid
        <where>
            <if test="clubName !=null ">
                t.name like concat('%',#{clubName,jdbcType=VARCHAR},'%')
            </if>
            <if test="principalName !=null ">
                and c.name like concat('%',#{principalName,jdbcType=VARCHAR},'%')
            </if>
            <if test="star !=null ">
                and t.star = #{star,jdbcType=INTEGER}
            </if>
            <if test="status !=null ">
                and t.status = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>