<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.club.mapper.NewsMapper">
    <resultMap id="BaseResultMap" type="com.graduate.club.entity.News">
        <!--@mbg.generated-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="userid" jdbcType="VARCHAR" property="userid"/>
        <result column="adminid" jdbcType="VARCHAR" property="adminid"/>
        <result column="clubid" jdbcType="VARCHAR" property="clubid"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, userid, adminid, clubid, `status`, content, create_at, update_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_news
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from t_news
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.graduate.club.entity.News">
        <!--@mbg.generated-->
        insert into t_news (id, `name`, userid,
        adminid, clubid, `status`,
        content, create_at, update_at
        )
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR},
        #{adminid,jdbcType=VARCHAR}, #{clubid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
        #{content,jdbcType=LONGVARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.graduate.club.entity.News">
        <!--@mbg.generated-->
        insert into t_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="adminid != null">
                adminid,
            </if>
            <if test="clubid != null">
                clubid,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=VARCHAR},
            </if>
            <if test="adminid != null">
                #{adminid,jdbcType=VARCHAR},
            </if>
            <if test="clubid != null">
                #{clubid,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.graduate.club.entity.News">
        <!--@mbg.generated-->
        update t_news
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                userid = #{userid,jdbcType=VARCHAR},
            </if>
            <if test="adminid != null">
                adminid = #{adminid,jdbcType=VARCHAR},
            </if>
            <if test="clubid != null">
                clubid = #{clubid,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.graduate.club.entity.News">
        <!--@mbg.generated-->
        update t_news
        set `name` = #{name,jdbcType=VARCHAR},
        userid = #{userid,jdbcType=VARCHAR},
        adminid = #{adminid,jdbcType=VARCHAR},
        clubid = #{clubid,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=INTEGER},
        content = #{content,jdbcType=LONGVARCHAR},
        create_at = #{createAt,jdbcType=TIMESTAMP},
        update_at = #{updateAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_news
    </select>
    <select id="selectNews" parameterType="map" resultType="map">
        select t.id, t.`name`, a.name userName, b.name adminName, c.name clubName, `status`, content, create_at,
        update_at
        from t_news t
        join t_user_profile a on t.userid = a.userid
        join t_admin b on t.adminid = b.id
        join t_club c on t.clubid = c.id
        <where>
            <if test="name != null and name != ''">
                t.name like concat('%',#{name,jdbcType=VARCHAR},"%")
            </if>
            <if test="status != null">
                and t.status = #{status}
            </if>
        </where>
        order by t.create_date desc
    </select>
</mapper>