<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.club.mapper.RecruitMapper">
    <resultMap id="BaseResultMap" type="com.graduate.club.entity.Recruit">
        <!--@mbg.generated-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="clubid" jdbcType="VARCHAR" property="clubid"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="open_date" jdbcType="TIMESTAMP" property="openDate"/>
        <result column="close_date" jdbcType="TIMESTAMP" property="closeDate"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, clubid, num, `status`, open_date, close_date, create_at, update_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_recruit
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from t_recruit
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.graduate.club.entity.Recruit">
        <!--@mbg.generated-->
        insert into t_recruit (id, clubid, num,
        `status`, open_date, close_date,
        create_at, update_at)
        values (#{id,jdbcType=VARCHAR}, #{clubid,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER}, #{openDate,jdbcType=TIMESTAMP}, #{closeDate,jdbcType=TIMESTAMP},
        #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.graduate.club.entity.Recruit">
        <!--@mbg.generated-->
        insert into t_recruit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="clubid != null">
                clubid,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="openDate != null">
                open_date,
            </if>
            <if test="closeDate != null">
                close_date,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="clubid != null">
                #{clubid,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="openDate != null">
                #{openDate,jdbcType=TIMESTAMP},
            </if>
            <if test="closeDate != null">
                #{closeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.graduate.club.entity.Recruit">
        <!--@mbg.generated-->
        update t_recruit
        <set>
            <if test="clubid != null">
                clubid = #{clubid,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="openDate != null">
                open_date = #{openDate,jdbcType=TIMESTAMP},
            </if>
            <if test="closeDate != null">
                close_date = #{closeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.graduate.club.entity.Recruit">
        <!--@mbg.generated-->
        update t_recruit
        set clubid = #{clubid,jdbcType=VARCHAR},
        num = #{num,jdbcType=INTEGER},
        `status` = #{status,jdbcType=INTEGER},
        open_date = #{openDate,jdbcType=TIMESTAMP},
        close_date = #{closeDate,jdbcType=TIMESTAMP},
        create_at = #{createAt,jdbcType=TIMESTAMP},
        update_at = #{updateAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_recruit
    </select>
    <select id="selectByMap" parameterType="map" resultType="map">
        select t.id, a.name clubName,a.star,b.name principalName, t.num, t.`status`, t.open_date, t.close_date
        from t_recruit t
        join t_club a on t.clubid = a.id
        join t_user_profile b on a.principalid = b.id
        <where>
            <if test="openDate != null">
                <![CDATA[
                  t.open_date <= #{openDate,jdbcType=TIMESTAMP}
                ]]>
            </if>
            <if test="closeDate != null">
                <![CDATA[
                  and t.close_date >= #{closeDate,jdbcType=TIMESTAMP}
                ]]>
            </if>
            <if test="status != null ">
                and t.status = #{status,jdbcType=INTEGER}
            </if>
            <if test="name !=null">
                and a.name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
        </where>
        order by t.create_date desc
    </select>
    <select id="selectByClubId" resultType="string" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_recruit
        where clubid = #{clubid,jdbcType=VARCHAR}
    </select>
</mapper>